.eight-slide {
    margin-left: auto;
  max-height: rem(650);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: rem(60);
  padding: rem(75) rem(55) rem(90) rem(90);
  background-color: #171717;
  @include mediaMax($small-tablet-max-width) {
    padding: rem(50) rem(20);
  }

  &__title {
     max-width: rem(470);
    font-size: rem(24);
    line-height: rem(30);
    color: var(--color-white);
    font-family: "Apparel-Bold", sans-serif;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(25);
  }

  &__item {
    position: relative;
    cursor: pointer;
    padding: rem(20) 0;
    border-bottom: rem(1.5) solid #292727;
    max-width: rem(880);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    transition: 0.3s;
    & p {
      display: flex;
      flex-direction: column;
      gap: rem(8);
      & span {
        max-width: rem(840);
        font-size: rem(16);
        line-height: rem(24);
        font-weight: $bold;
        color: var(--light-gray);
        &:first-child {
          font-family: "Golos", sans-serif;
        }
        &:last-child {
          font-family: "GolosText", sans-serif;
        }
      }
    }
  }

  &__inner-svg {
    max-width: rem(16);
    max-height: rem(12);
    width: 100%;
    height: 100%;
    & svg {
      width: 100%;
      height: 100%;
      fill: var(--light-gray);
      stroke: var(--light-gray);
    }
  }

  &__item:hover p span {
    color: #f5f1ed;
  }

  &__item:hover svg {
    fill: #f5f1ed;
    stroke: #f5f1ed;
  }

  &__item:hover .eight-slide__hover {
    opacity: 1;
  }

  &__hover {
    opacity: 0;
    max-width: rem(100);
    max-height: rem(13);
    position: absolute;
    bottom: 0;
    left: rem(15);
    transition: 0.3s;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
