.pf-reviews {
  margin: 0;
  padding:  0;

  background-color: var(--bk-total);
  &__title {
    color: var(--reviews-title);
  }

  &__wrap-pf-reviews {
    border: rem(15) solid var(--reviews-title);
    position: relative;
    padding: rem(52) rem(60) rem(55) rem(210);
    @include mediaMax($desktop-small-width) {
      padding: rem(52) rem(50) rem(55);
    }
    @include mediaMax($small-tablet-max-width) {
      padding: rem(52) rem(50) rem(55);
    }
    @include mediaMax($tablet-max-width) {
      padding: rem(40) rem(20);
    }
    @include mediaMax($mobile-max-width) {
      border-left: none;
      border-right: none;
      margin: 0 rem(-20);
      padding: rem(60) rem(20) rem(30);
    }
  }

  &__main-pf-reviews {
    min-height: rem(290);
    gap: rem(40);
    display: flex;
    flex-direction: column;
  }

  &__wrap-text {
    @include mediaMax($small-tablet-max-width) {
      margin-bottom: rem(60);
    }
  }

  &__text {
    font-size: rem(32);
    line-height: rem(40);
    font-weight: $normal;
    color: var(--main-text);
    color: var(--reviews-text);
    margin: 0;
    max-width: rem(930);
    @include mediaMax($small-tablet-max-width) {
      font-size: rem(25);
      line-height: rem(35);
    }
    @include mediaMax($mobile-max-width) {
      font-size: rem(20);
      line-height: rem(28);
      display: flex;
      flex-direction: column;
      & a {
        margin-top: rem(45);
        & svg {
          margin-left: 0;
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    cursor: pointer;
    margin-left: rem(15);
    font-size: rem(11);
    line-height: rem(11);
    color: var(--main-text);
    color: var(--reviews-text);
    text-transform: uppercase;

    position: relative;

    & > svg {
      display: inline-block;
      width: rem(154);
      height: rem(30);
      font-size: rem(11);
      stroke: var(--color-text);
    }

    & .value {
      position: absolute;
      left: rem(10);
      bottom: rem(5);
      width: auto;
      color: currentColor;

      font-weight: 700;
    }

    &:hover {
      color: var(--color-text);
    }
  }

  //&__icon {
  //  margin-left: rem(15);
  //  & > text:hover {
  //    fill: $color-green;
  //  }
  //
  //  & tspan {
  //    fill: $color-white;
  //  }
  //}

  &__wrap-signature {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    &._no-avatar {
      padding-top: rem(30);

      @include mediaMax($tablet-max-width) {
        padding-top: 0;
      }
    }
  }

  &__description {
    font-size: rem(14);
    line-height: rem(20);
    color: var(--main-text);
    color: var(--reviews-text);

  }

  &__avatar {
    width: rem(30);
    height: rem(30);
    border: rem(1.5) solid var(--reviews-title);
    border-radius: 50%;
    margin-bottom: rem(10);
    padding: rem(5);
    overflow: hidden;
    background-color: var(--reviews-image);
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    stroke: var(--reviews-title);
  }

  &__name {
    font-size: rem(16);
    line-height: rem(24);
    font-weight: $bold;
    color: var(--color-text);
    //   color: $bk-white;
    margin: 0 0 rem(5);
  }

  &__description {
    margin: 0;
    font-size: rem(14);
    line-height: rem(20);
    color: var(--main-text);
    color: var(--reviews-text);

  }

  &__box-btn {
    position: absolute;
    bottom: rem(55);
    right: rem(60);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: rem(20);
    @include mediaMax($tablet-max-width) {
      display: none;
    }
  }

  &__btn-slider {
    cursor: pointer;
    background: transparent;
    border: none;
    width: rem(50);
    height: rem(50);
    padding: 0;
    border: 0;
    background: 0 0;
  }

  &__pagination-list {
    display: flex;
    padding: 0;
    margin: rem(30) 0;
    & li {
      width: 100%;
      list-style-type: none;
      margin-right: rem(20);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__top-quote,
  &__down-quote {
    position: absolute;
    display: flex;
    z-index: 1;

    color: var(--color-text);
    font-size: rem(150);
    line-height: 1;

    & svg {
      height: 100%;
      width: auto;
      fill: var(--color-text);
    }

    &::after {
      content: "";
      position: absolute;
      left: rem(-20);
      right: rem(-20);
      z-index: -1;

      height: rem(15);

      background-color: var(--bk-total);
    }
  }

  &__down-quote {
    width: rem(78);
    height: rem(60);
    bottom: rem(-40);
    right: rem(45);

    &::after {
      top: rem(20);
      @include mediaMax( $tablet-max-width) {
        right: rem(-5);
      }

      @include mediaMax($mobile-max-width) {
        top: rem(0)
      }
    }

    @include mediaMax($tablet-max-width) {
      right: rem(15);
    }

    @include mediaMax($mobile-max-width) {
      right: rem(10);
      bottom: rem(-30);
      width: rem(48);
      height: rem(30);
    }
  }

  &__top-quote {
    width: rem(78);
    height: rem(60);
    top:  rem(-40);
    left: rem(38);
    transform: rotate(180deg);

    &::after {
      top: rem(20);
      @include mediaMax($mobile-max-width) {
        top: rem(5)
      }
    }

    @include mediaMax($tablet-max-width) {
      padding: 0 rem(10);
      left: rem(15);
    }
    @include mediaMax($mobile-max-width) {
      left: rem(15);
      top: rem(-25);
      width: rem(48);
      height: rem(30);
    }
  }
}
