.photo-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(30);
  padding: rem(30) 0 0;
  justify-content: center;
  margin: 0 rem(-30);

  overflow: hidden;

  @include mediaMax($tablet-max-width) {
    margin: 0 rem(-20);
  }
  //@include mediaMax($mobile-max-width) {
  //  margin: 0;
  //}

  &__line {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    gap: rem(30);
    // TODO +++ добавить max-width 100%; ко всем линиям
  }

  .center-line {
    height: rem(320);
    justify-content: flex-start;

    @include mediaMin($desktop-max-width) {
      height: 22.22vw;
    }
    //transition: transform 0.3s ease-in-out;
    & div {
      height: rem(320);
      @include mediaMin($desktop-max-width) {
        height: 22.22vw;
      }
    }
  }

  &__line-item {
    position: relative;
    height: rem(186);
    @include mediaMin($desktop-max-width) {
      height: 12.916vw;
    }
    & img {
      object-fit: contain;
      object-position: center;
      height: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      //background: rgba(14, 14, 16, 0.5);
    }
  }

  &__card-services {
    width: rem(467);
    height: rem(320);
    @include mediaMin($desktop-max-width) {
      height: 22.22vw;
      width: 32.4vw;
    }
    display: flex;
    flex-direction: column;
    padding: rem(50) rem(30) rem(30);
    background-color: $color-white;
    flex-shrink: 0;
    &::after {
      display: none;
    }
    @include mediaMax($tablet-max-width) {
      max-width: rem(300);
      width: 100%;
      // max-height: rem(200);
      padding: rem(30) rem(20);
    }
  }

  &__category {
    margin: 0;
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(1);
    color: $gray-black;
    text-transform: uppercase;
  }

  &__title {
    font-size: rem(32);
    line-height: rem(40);
    color: $gray-black;
    font-weight: $bold;
    margin-top: auto;
    margin-bottom: 0;
    @include mediaMax($mobile-max-width) {
      font-size: rem(28);
      line-height: rem(32);
      margin-bottom: 0;
    }
  }

  &__description {
    max-width: rem(410);
    min-width: rem(410);
    margin: rem(16) 0 0;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: $regular;
    @include mediaMax($tablet-max-width) {
      display: none;
    }

    &._gray {
      color: $color-light-gray;
    }
  }

}
