.service-cards {
  //padding:rem(240) 0 rem(100);
  //@include mediaMax($tablet-max-width) {
  //  padding: rem(130) 0 rem(100);
  //}
  //@include mediaMax($mobile-max-width) {
  //  padding: 0 0 rem(30);
  //}
  &__title {
    margin-left: rem(22);

    @include mediaMax($mobile-max-width) {
      margin-left: 0;
      font-size: rem(60);
    }
  }

  &__wrap {
    padding: rem(60) rem(30) rem(30);
    border: rem(3) solid $color-white;

    @include mediaMax($tablet-max-width) {
      padding: rem(30);
    }

    @include mediaMax($mobile-max-width) {
      padding: rem(26) rem(20);
      margin: 0 rem(-20);
      border-left: none;
      border-right: none;
    }
  }

  &__wrap-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(45);
    gap: rem(45);
    @include mediaMax($tablet-max-width) {
      flex-direction: column;
    }
  }

  &__wrap-description {
    max-width: rem(765);
    & p {
      margin: 0;
      font-size: rem(32);
      font-weight: $bold;
      line-height: rem(40);
      color: $color-white;
      @include mediaMax($small-tablet-max-width) {
        font-size: rem(24);
        line-height: rem(30);
      }
      @include mediaMax($mobile-max-width) {
        font-size: rem(20);
        line-height: rem(28);
      }
    }
  }

  &__wrap-btn {
    width: 100%;
    display: flex;
    max-height: rem(50);
    justify-content: flex-end;
    @include mediaMax($tablet-max-width) {
      justify-content: flex-start;
    }
    & a {
      @include mediaMax($tablet-max-width) {
        justify-content: center;
      }
      @include mediaMax($mobile-max-width){
        max-width: 100%;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(rem(2), 1fr));
    gap: rem(30);
    @include mediaMax($desktop-small-width) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaMax($tablet-max-width) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
