.type-support {
  padding: 0 0 rem(100);
  @include mediaMax($tablet-max-width) {
    padding: 0 0 rem(100);
  }
  @include mediaMax($mobile-max-width) {
    padding: 0 0 rem(50);
  }

  &__header-text {
    display: flex;
    align-items: center;
    gap: rem(22);
    margin-bottom: rem(-43);
    @include mediaMax($tablet-max-width) {
      flex-direction: column;
      gap: rem(20);
      align-items: flex-start;
      margin-bottom: rem(-11);
      padding-left: rem(20);
    }

    @include mediaMax($mobile-max-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
    & div {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    font-size: rem(48);
    line-height: rem(56);
    font-weight: $bold;
    color: $color-white;
    max-width: rem(300);
    @include mediaMax($desktop-small-width) {
      font-size: rem(35);
    }
    @include mediaMax($small-tablet-max-width) {
      font-size: rem(32);
      line-height: rem(40);
    }
    @include mediaMax($tablet-max-width) {
max-width: rem(700);
      margin: 0;
    }
    @include mediaMax($mobile-max-width) {
      font-size: rem(20);
      line-height: rem(28);
    }
  }

  &__subtitle-site {
    font-size: rem(48);
    line-height: rem(56);
    font-weight: $bold;
    color: $color-white;
    @include mediaMax($desktop-small-width) {
      font-size: rem(35);
    }
    @include mediaMax($small-tablet-max-width) {
      font-size: rem(29);
      line-height: rem(40);
    }
    @include mediaMax($tablet-max-width) {
      font-size: rem(22);
      line-height: rem(25);
      margin: 0;
    }
    @include mediaMax($mobile-max-width) {
      font-size: rem(60);
      line-height: rem(60);
      font-weight: $bold;
      color: $color-white;
    }
  }

  &__wrapper-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    padding: rem(55) rem(30) rem(30);
    border: rem(1) solid $color-white;
    @include mediaMax($desktop-small-width) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaMax($tablet-max-width) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 rem(10) rem(30);
      border-left: none;
      border-right: none;
    }
    @include mediaMax($mobile-max-width) {
      margin-top: rem(5);
      padding: 0 0 rem(30);
    }
  }

  &__inner-card {
    position: relative;
    height: max-content;
  }

  &__card-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: rem(1) solid $color-black;
    padding: rem(30);
    background-color: $color-black;
    @include mediaMax($mobile-max-width) {
      padding: rem(30) rem(20);
    }
  }

  &__number {
    color: $dark-black;
    font-size: rem(14);
    line-height: rem(20);
    padding-bottom: rem(10);
    border-bottom: rem(1) solid $dark-black;
    margin-bottom: rem(30);
  }


  &__name-project {
    font-size: rem(20);
    line-height: rem(28);
    margin: 0;

    color: $color-white;
  }

  &__description {
    font-size: rem(16);
    line-height: rem(24);
    margin: 0;

    color: $color-light-gray;
  }

  &__feedback {
    padding: rem(30);
    display: flex;
    gap: rem(30);
    flex-direction: column;
    text-align: left;
    background-color: $color-black;

    & .button:hover {
      color: $color-white;
    }

    @include mediaMax($mobile-max-width) {
      padding: rem(30) rem(20) rem(35);
    }
  }

  &__feedback-description {
    font-size: rem(20);
    line-height: rem(28);
    font-weight: $bold;
    margin: 0;

    color: $color-light-gray;
  }

  &__btn {
    border-color: $light-green;
  }
}
